header {
    width: 100%;
    height: 60px;
    background-color: #2f0757;
    color: white;
}

header ul li {
    list-style-type: none;
    text-align: center;
}

header ul a:hover {
    list-style-type: none;
    text-align: center;
    text-decoration: underline;
}

main {
    width: 100%;
    color: white;
    background: radial-gradient(circle at 50% 50%, #1e0438 0%, #260a42 20%, #38145c 40%, #421d66 60%, #412063 80%, #6e3369 100%);
}

main ul {
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 12px;
    background: #2f0757;
}

::-webkit-scrollbar-thumb {
    background: #8b48cf;
    border: 2px solid #2f0757;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a97cf7;
}

.categus {
    background-color: #2f0757;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;

}

::selection {
    background: #5f2697;
    color: #fff;
}